# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml


trigger:
- none

resources:
  repositories:
  - repository: adorepob
    type: github
    name: mariuszdotnet/ado-repo-b
    endpoint: github.com_mariuszdotnet_ado_repo_a_b
    trigger:
      branches:
        include:
          - master

pool:
  vmImage: 'ubuntu-latest'

steps:
- checkout: adorepob
- script: echo Hello, world!
  displayName: 'Run a one-line script'

- script:
    echo Add other tasks to build, test, and deploy your project.
    echo See https://aka.ms/yaml
  displayName: 'Run a multi-line script'
